<div class="helpful-links">
    <p class="card-title helpful-links__title">{{ 'general.helpful_links.title' | t }}</p>
    <div class="content">
        <div>
            <a target="_blank" href="https://support.omaze.com/hc/en-us/articles/360021585094-I-m-having-trouble-logging-into-my-account-" class="content-link">
                {{ 'general.helpful_links.login_trouble' | t }}
            </a>
        </div>
    </div>
    <div class="content">
        <div>
            <a target="_blank" href="https://support.omaze.com/hc/en-us/articles/217033868-How-do-you-confirm-a-winner-" class="content-link">
                {{ 'general.helpful_links.confirm_winner' | t }}
            </a>
        </div>
    </div>
    <div class="content">
        <div>
            <a target="_blank" href="https://support.omaze.com/hc/en-us/articles/217522927-Is-my-contribution-tax-deductible-" class="content-link">
                {{ 'general.helpful_links.tax_deductible' | t }}
            </a>
        </div>
    </div>
    <div class="button-content">
            <a target="_blank" class="oz-button" href="https://support.omaze.com/hc/en-us">
                {{ 'general.helpful_links.help_center' | t }}
            </a>
            <a target="_blank" class="oz-button-secondary" href="https://support.omaze.com/hc/en-us/requests/new">
                {{ 'general.helpful_links.email_us' | t }}
            </a>
    </div>
</div>
