<div class="common-questions">
    <p class="card-title common-questions__title">{{ 'general.common_questions.title' | t }}</p>
    <div id="donationHistory_FAQ">
        <div class="content">
            <a target="_blank" href="{{'general.common_questions.tax_deductible_link' | t}}" class="content-link">
                {{ 'general.common_questions.tax_deductible' | t }}
            </a>
        </div>
        <div class="content">
            <a target="_blank" href="{{ 'general.common_questions.promo_code_link' | t }}" class="content-link">
                {{ 'general.common_questions.promo_code' | t }}
            </a>
        </div>
        <div class="content">
            <a target="_blank" href="{{ 'general.common_questions.confirmation_email_link' | t }}" class="content-link">
                {{ 'general.common_questions.confirmation_email' | t }}
            </a>
        </div>
    </div>
    <div class="button-content">
            <a target="_blank" class="oz-button" id="donationHistory_helpCenter" href="{{ 'general.common_questions.help_center_link' | t }}">
                {{ 'general.common_questions.help_center' | t }}
            </a>
            <a target="_blank" class="oz-button-secondary" id="donationHistory_emailUs" href="{{ 'general.common_questions.email_us_link' | t }}">
                {{ 'general.common_questions.email_us' | t }}
            </a>
    </div>
</div>
