{% comment %}
	When a Customer navigate to the reset password page Shopify is invalidating the 
	Customer Access Token, in order to generate a new valid Token after the Customer reset their password we need 
    to remove it from the LocalStorage
{% endcomment %}
<script>   
	window.localStorage.removeItem('{{settings.shopify_customer_access_token_key}}');
</script>
<div class="oz-page" id="acLogin">
	<div class="oz-login-app" id="accountSection">
		<div class="oz-section">
			<div class="oz-section__inner" id="acLoginForm">
				<h1 class="oz-section__page-title oz-section__page-title--reset-password">{{ 'customer.reset_password.title' | t}}</h1>
				<div class="oz-section__content oz-section__content--reset-password">
					{{ 'customer.reset_password.subtext_html' | t: email: email }}
				</div>
				{% form 'reset_customer_password', id: 'resetPasswordForm' %}

				<input type="hidden" id="resetPasswordRedirect" name="return_to" value="" />

				{{ form.errors | default_errors }}
					<div class="oz-section__content">
						<div class="oz-field">
							<div class="oz-field__container{% if form.errors contains 'password' %} error{% endif %}">
								<input id="resetPassword" class="input{% if form.errors contains 'password' %} error{% endif %}" type="password" name="customer[password]" required />
								<label for="resetPassword">
									{{ 'customer.reset_password.password' | t }}
								</label>
							</div>
							<div id="passwordHint" class="oz-field__container--hint-text"></div>
						</div>
						<div class="oz-field">
							<div class="oz-field__container{% if form.errors contains 'password_confirmation' %} error{% endif %}">
								<input id="resetPasswordConfirmation" class="input{% if form.errors contains 'password_confirmation' %} error{% endif %}" type="password" name="customer[password_confirmation]" required />
								<label for="resetPasswordConfirmation">
									{{ 'customer.reset_password.password_confirm' | t }}
								</label>
							</div>
						</div>
						<div class="oz-field oz-field--btn">
							<button class="oz-btn oz-btn--block" type="submit">
								<span class="btn__label">
									Reset password
								</span>
							</button>
						</div>
					</div>
				{% endform %}
			</div>
		</div>
	</div>
</div>
