<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="alternate" href="{{ canonical_url }}" hreflang="en-us" />
    <title>
        {{ 'general.password_page.login_form_password_label' | t }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>
    <meta name="description" content="{{ shop.name | escape }}">

    {% comment %}
    ****************************************************
    ******* No scripts above Cookie Compliance *********
    **************************************************** {% endcomment %}
    {% include 'cookie-compliance-management' %}

    {% include 'social-meta-tags' %}

    {% include 'favicons' %}

    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    {{ 'password.scss.css' | asset_url | stylesheet_tag }}

    {% include 'optimizely-head' %}

    {% include 'googletagmanager-head' %}

    {{ content_for_header }}
</head>
<body id="page-password" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
    {% include 'googletagmanager-body' %}
    {{ content_for_layout }}
</body>
</html>
