{% layout 'password' %}
<div id="pwd" class="pwd">
	<section class="pwd__container">
		<header class="pwd pwd__hdr" role="banner">
			{% if settings.logo %}
				<div class="pwd__logo">
					<img src="{{ settings.logo | img_url: 'master' }}" alt="{{ shop.name }}" />
				</div>
			{% else %}
				<h1 class="pwd__title">{{ shop.name }}</h1>
			{% endif %}
			{% unless shop.password_message == blank %}
				<p class="pwd__msg">{{ shop.password_message }}</p>
			{% endunless %}
		</header>
		<div class="pwd__form">
			{% form 'storefront_password' %}
			{{ form.errors | default_errors }}
				<div class="form-inline">
					<input type="password" name="password" id="password" class="input" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" autofocus>
					<button type="submit" class="form-inline__btn">
						<span class="screenreader">
							{{ 'general.password_page.login_form_submit' | t }}
						</span>
						<i class="icon-arrow"></i>
					</button>
				</div>
			{% endform %}
		</div>
		<button type="button" class="pwd__btn" id="pwdBtn"></button>
	</section>
</div>

<script type="text/javascript">
	var btn = document.getElementById('pwdBtn');
	var body = document.getElementsByTagName('body')[0];
	var input = document.getElementById('password');

	btn.addEventListener("click", function(){
		body.className = 'form-visible';
		input.focus();
	});
</script>
